// color name reference http://chir.ag/projects/name-that-color/
// opacity to hex reference https://css-tricks.com/8-digit-hex-codes/

/*
* Colors
*/

//  New form style variables
$border-normal = #D8DDE6
$border-focus = #2F89FC
$border-error = #D41F00
$tag-background = #F3F4F7
$box-shadow-color = #EBEEF2
$disabled-color = #C1C6CE
$disabled-input = #F8F8F8

// New theme colors
$he-blue-1 = #1F99FA
$he-blue-2 = #E6f5ff
$he-blue-3 = #EAF3FE
$he-blue-4 = #2F89FC
$he-blue-5 = #F7F8FA
$he-blue-6 = #D5E7FE
$he-blue-7 = #1C5297
$he-blue-8 = #123664
$he-blue-9 = #2A7BE2
$he-blue-10 = #58A0FC
$he-gray-1 = #999999
$he-gray-2 = #333333
$he-gray-3 = #666666
$he-gray-4 = #DFE6EE
$he-gray-5 = #F4F6F9
$he-gray-6 = #455360
$he-gray-7 = #B0BAC5
$he-gray-8 = #8C8C8C
$he-gray-9 = #D8DDE6
$he-gray-10 = #D8D8D8
$he-gray-11 = #F3F4F7
$he-gray-12 = #DFE3EB
$he-gray-13 = #C3C8CB
$he-gray-14 = #9CA3A9
$he-gray-15 = #5C6871
$he-green-1 = #B0E5B8
$he-green-2 = #87C787
$he-green-3 = #0F8F10
$he-green-4 = #E7F4E7
$he-green-5 = #2E7D32
$he-red-1 = #EE8F9C
$he-red-2 = #FDD6D1
$he-red-3 = #F25842
$he-red-4 = #D41F00
$he-red-5 = #FAE9E6
$he-yellow-1 = #F9D690
$he-yellow-2 = #FCEACB
$he-yellow-3 = #F4AD00
$he-yellow-4 = #FCEFD3
$he-yellow-5 = #F4AF25
$he-orange-1 = #FDF7E9
$he-orange-2 = #E95924

// Primary brand color variables
$brand-dark-blue  = #2A4494
$brand-yellow = #FFE100
$brand-blue = #0099FF

// Secondary brand color variables
$brand-green = #6BBD00
$brand-light-green = #F0F8E5
brand-light-green = $brand-light-green
$brand-bright-green = #88CA33
$brand-orange = #F49020
$brand-light-red = #FBEBEA
$brand-red = #DD402D
$brand-white = #FFFFFF

// Shades of gray to be used everywhere
$brand-dark-gray = #46535E
$brand-gray = #90979E
$brand-gray-2 = #7E858D
$brand-light-gray = #D9DDE0
$brand-lighter-gray = #F3F3F3

// Background color variables
$bg-dark-gray = $brand-light-gray
$bg-gray = #ECF0F1
$bg-light-gray = #F9F9F9
$bg-white = $brand-white
$bg-orange = #FDF3E8
$bg-blue= #46CFE1

// Component/State color variables
$inactive-gray = #F5F6F6
$hover-blue = #F2FAFF
$active-border-blue = #CCEBFF
$hover-border-blue = #78C9FF
$highlight-light-gray-1 = #F4F6F7
$highlight-light-gray-2 = #F7F9F9
$selected-green = #F0F8E5
$disabled-gray = #C1C6CE
// neon color
$he-neon-green = #05DDC3

/*
* Font related variables
*/

// Font family
// This file is not responsible for importing the font family
$font-family-sans-serif = Open Sans, Helvetica, Arial, sans-serif


// Font sizes
$font-size-50 = 50px
$font-size-48 = 48px
$font-size-41 = 41px
$font-size-33 = 33px
$font-size-30 = 30px
$font-size-27 = 27px
$font-size-25 = 25px
$font-size-24 = 24px
$font-size-22 = 22px
$font-size-20 = 20px
$font-size-19 = 19px
$font-size-18 = 18px
$font-size-17 = 17px
$font-size-16 = 16px
$font-size-14 = 14px
$font-size-12 = 12px
$font-size-10 = 10px
$font-size-9 = 9px
$font-size-8 = 8px

// Font weights
$font-weight-thin = 300
$font-weight-regular = 400
$font-weight-semi-bold = 600
$font-weight-bold = 700

// newton colors
$color-dodger-blue = #1F99FA
$color-dodger-blue-shadow = #1F99FA40
$color-biscay = #192D6426
$color-white = #FFFFFF
$color-comet = #5D6586
$color-heading-blue = #243E8E
$color-blue-shadow = #243E8E26
$color-merlose = #B5C6FC73
$color-black-squeeze = #E9EFF7
$color-santas-gray = #A2A6B5
$color-black-75 = #000000BF
$color-cornflower-blue-shadow = #192d6433
$color-heather = #B8C3D3
$color-selago = #F4F8FD
$color-onahau = #D3F4FF
$color-dodger-blue-light = #29C9FF
$color-pickled-blue = #2C3454
$color-hover-blue = #0099FC
$color-seperator = #A3A6B4
$color-alto = #DBDBDB
$color-dusty-gray = #999999
$color-st-tropaz = #265796
$color-dark-blue = #152D76
$color-danube = #709BD3
$color-modal-bg = #444444
$color-modal-header =  #46535e
$color-gray-separator =  #e5e7e8
$color-gray-text = #9ca3a8
$color-silver = #bbbbbb
$color-dark-gray-input-text = #252c33
$color-cyan-link = #4c9cdf
$color-login-button-cyan = #33adff
$color-button-disable = #f5f6f6
$color-button-disable-text = #666666
$color-fb-bg = #3a5795
$color-red = #b11616
$color-green = #73b369
$color-blue-bay = #1F3D83
$color-link-button-shadow = #FFFFFF40
$color-auth-button = #87A5CC
$text-color = #252C33
$card-bg-color = #ffffff
$card-shadow = #EBEEF2
$btn-color-green = #56BA58

// Header Colors
$navbar-text=rgba(229,231,232,0.75)
$header-background=#323754
$shadow-bottom=rgba(156,163,168,0.7)
$hover-background=#4d9cde
$notif-background=#fffcdf
$notif-hover=rgba(255,252,223,0.5)
$red-background=#d33737
$notif-shadow=rgba(0,0,0,0.5)
$text-gray=#808080
$tag-color=#888
$top-border=#ddd
$button-orange=#ff6600
$search-bg=rgba(0,0,0,0.2)
$search-input=rgba(255,255,255,0.6)
$shadow-top= #46515a
$shadow-top-2=#1a1a1a
$past-event-bg=#d1573f
$present-event-bg=#a9adbe
$icon-bg=#0b5e8a

display-flex(direction, wrap, justify, items, content)
    display: flex
    flex-direction: direction
    flex-wrap: wrap
    justify-content: justify
    align-items: items
    align-content: content

// font display property

$font-display = swap  // auto, block, swap, optional

// leaderboard
$orange-icon = #EC5C23
$green-font = #56BA58
$black-font = #000000
$dropdown-border = #2989FC
$white=#fff

// PPlP
$btn-link-color = #2F89FC
$dark-gray = #333333
$empty-table-bg = #F7F8FA
$options-color = #333333
$color-easy = #0F8F10
$color-medium = #F4AF25
$color-hard = #D41F00
$color-text = #333333
$color-table-text = #333333
$table-row-color-primary = white
$table-row-color-secondary = #F7F8FA
$dark-background-color = #F3F4F7
$progress-bar-blue = #2F89FC
$progress-bar-gray = #DFE3EB
$progress-count-gray = #666666
$tag-text-color = #666666
$tag-fill-color = #F3F4F7
$tag-border-color = #D8DDE6
