.all-banks {
  padding: 8px 12px;
  padding-bottom: 120px;
}

.all-banks-table {
  overflow-x: scroll;
}
.all-banks-options {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #f3f4f7;
  padding: 12px 0px;
  align-items: flex-end;
}
.options-dropdown {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.search {
  background-color: white;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  height: max-content;
}
.search input {
  width: 100%;

  outline: none;
  border: none;
}
.dropdown-parent {
  width: 48%;
}
.dropdown-title-label {
  margin-left: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}
@media only screen and (max-width: 780px) {
  .options-dropdown {
    width: 90%;
    margin-top: 12px;
  }
  .all-banks-options {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 90%;
  }
}
