.all-banks {
  padding: 8px 12px;
  padding-bottom: 120px;
}

.all-banks-table {
  overflow-x: scroll;
}
.all-banks-options {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #f3f4f7;
  padding: 12px 0px;
}
.options-dropdown {
  display: flex;
}
